h1 {
    background-color: #b02525;
    color: #ffd70f;
    font-size: 85px;
}

#bakedcorn {
    background-color: #b02525;
    color: #ffd70f;
    font-size: 20px;
}

#bacon {
    background-color: #b02525;
    color: #ffd70f;
    font-size: 20px;
}

#waffle {
    background-color: #b02525;
    color: #ffd70f;
    font-size: 20px;
}